# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DATN-su2024\Back_End_DuAnTN-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
